.footerul {
    float: left;
    list-style: none;   
    margin-right: 20px;
}

footer {
    height: 370px;
    background-color: green;
    width: 100vw;
}

.links {
height: 300px;

}

.signup {
    height: 70px;
    background-color: grey;
    
}

.footerli {
    
}