.footerul {
    float: left;
    list-style: none;   
    padding-right: 20px;
}

footer {
    height: 370px;
    background-color: green;
    max-width: 100vw;
}

.links {
height: 300px;
background-image: url("/img/footer-bg.jpg");
color: white;
padding: 2%;

}

.signup {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.889);
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.sign {
    vertical-align: center;
    height: 40px;
    width: 60px;
    border-radius: 9px;
}

