.mainlinks {
    display: flex;
   padding-top: 50px;
   color: white;
   display: flex;
    padding-top: 50px;
    justify-content: space-around;
    
}

.mainli {
    float: left;
    margin-right: 10px;
    list-style: none;
}

.jumbotron {
    width: 100vw;
    height: 300px;
    background-color: aqua;
}

.series {
    width: 100vw;
    height: 400px;
    background-color: black;
}

.mainav {
    height: 150px;
    width: 100vw;
    background-color: blue;
}

.currseries {
    height: 40px;
    width: 250px;
    background-color: green;
    left: 200px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    color: white;
}